/.ipynb_checkpoints/init-checkpoint.ipynb
/.ipynb_checkpoints/AutoCADProject-checkpoint.ipynb
/autocad_2013_activex_help.zip
/.ipynb_checkpoints/222-checkpoint.ipynb
/222.ipynb
/AutocadProject.egg-info/
